* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
}

h3 {
  font-weight: 300;
  color: azure;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 10px;
}